# IntelliJ / Android Studio
*.iml
.gradle
.idea/

# Local config
local.properties
keystore.properties

# Keystores
*.jks
*.keystore

# OS
.DS_Store

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# Ignore LastFmManager (contains secrets / local logic)
app/src/main/java/com/example/moniq/lastfm/LastFmManager.kt